body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
main{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('https://i.pinimg.com/736x/29/60/b1/2960b11fdc04b8747785a69309e2c575.jpg');
  background-size: cover;
  filter: blur(8px); /* Adjust blur intensity here */
  z-index: -1;
  transform: scale(1.1); /* Prevents white "bleeding" at edges */
}
.grid{
  display: grid;
  width: 800px;
  height: 100vh;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80px auto 30px;
  grid-template-areas: 
  'header header'
  'nav content'
  'nav content'
  ;
  border: 2px solid #2780F5
}
.top{
  grid-area: header;
  background-color: #2780F5;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-bottom: 1px solid #2780F5;
}
.left{
  grid-area: nav;
  background-color: white;
  border-right: 1px solid #2780F5;
}
.right{
  grid-area: content;
  background-color: white;
  overflow-y: auto;
  color: black;
}
.add{
  background-color: #2780F5;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  align-items: center;
  cursor: pointer;

}
.add:hover{
  background-color: #184e96;
}
